In [1975]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import math
from pandas.api.types import CategoricalDtype

In [1976]:
def plot_histogram(data,n):
    %matplotlib inline     
    # allows to output plots in the notebook
    plt.style.use("ggplot")     # Set the default style
    plt.rcParams['figure.dpi'] = 250
    if (data.dtype !=  object) or (data.dtype !=  category):
        plt.hist(data,  width = 0.5, 
                 weights = np.ones(len(data)) / len(data),
                 bins=(np.arange(n+1)-0.2)+min(data) )
    else:
        plt.hist(data,  width = 0.5, 
                 weights = np.ones(len(data)) / len(data),
                 bins=(np.arange(n+1)-0.2) )    
    
    plt.xticks(rotation=90,fontsize=8)
    plt.show()

In [1977]:
cleaned_data = pd.read_excel(r'cleaned_data.xlsx')
cleaned_data.isnull().sum()
combine = [cleaned_data]

In [1978]:
for dataset in combine:
    
    dataset['date'] = cleaned_data['contract_start']
    dataset['year'] = dataset.date.dt.year
    dataset['month'] = dataset.date.dt.month
    dataset['day'] = dataset.date.dt.day
    dataset['dayofyear'] = dataset.date.dt.dayofyear
    dataset['dayofweek'] = dataset.date.dt.dayofweek
    dataset['weekofyear'] = dataset.date.dt.weekofyear
    dataset['weekofmonth'] = dataset['weekofyear']
    dataset['weekofmonth'] = (dataset.date.dt.day/7) +1
    dataset['weekofmonth'] = dataset['weekofmonth'].apply(np.floor)
    display(dataset)
    # Additional date features
    dataset['log_dayofyear'] = np.log(dataset['dayofyear'])
    dataset['day_power_year'] = np.log((np.log(dataset['dayofyear'] + 1)) ** (dataset['year'] - 2000))
    dataset['day_week_power_year'] = np.log(np.log(dataset['dayofyear'] + 1) * (np.log(dataset['weekofyear'] + 1)) ** (dataset['year'] - 2000))
    # Drop date
    dataset.drop(['date'], axis=1, inplace=True)
    dataset.drop(['contract_start'], axis=1, inplace=True)

,Unnamed: 0,id,contract_start,age,gender,maritalstatus,education,dependants,job,town,default,date,year,month,day,dayofyear,dayofweek,weekofyear,weekofmonth
0,0,1,2018-01-04,43,MALE,MARRIED,SECONDARY_SPECIALISED,3,EMPLOYEE,Reykjavík,0,2018-01-04,2018,1,4,4,3,1,1.0
1,1,2,2018-01-24,50,FEMALE,MARRIED,SECONDARY,3,ENTREPRENEUR,Reykjavík,1,2018-01-24,2018,1,24,24,2,4,4.0
2,2,3,2018-01-02,29,MALE,COHABITING,SECONDARY_SPECIALISED,0,EMPLOYEE,Vestmannaeyjar,0,2018-01-02,2018,1,2,2,1,1,1.0
3,3,4,2018-01-02,29,MALE,COHABITING,SECONDARY_SPECIALISED,0,EMPLOYEE,Álftanes,0,2018-01-02,2018,1,2,2,1,1,1.0
4,4,5,2018-01-02,28,MALE,COHABITING,SECONDARY_SPECIALISED,1,EMPLOYEE,Reykjavík,1,2018-01-02,2018,1,2,2,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,7992,7993,2019-01-31,71,MALE,MARRIED,SECONDARY_SPECIALISED,0,RETIRED,Reykjavík,0,2019-01-31,2019,1,31,31,3,5,5.0
7986,7993,7994,2019-01-31,61,FEMALE,DIVORCED,HIGHER_BA,0,EMPLOYEE,Hafnarfjörður,0,2019-01-31,2019,1,31,31,3,5,5.0
7987,7994,7995,2019-02-07,42,MALE,MARRIED,SECONDARY_SPECIALISED,0,EMPLOYEE,Akranes,0,2019-02-07,2019,2,7,38,3,6,2.0
7988,7995,7996,2019-02-05,27,FEMALE,SINGLE,HIGHER_BA,2,EMPLOYEE,Reykjavík,1,2019-02-05,2019,2,5,36,1,6,1.0
7989,7996,7997,2019-02-11,52,FEMALE,DIVORCED,SECONDARY_SPECIALISED,1,EMPLOYEE,Reykjavík,0,2019-02-11,2019,2,11,42,0,7,2.0

In [1979]:
dataset['gender'] = dataset['gender'].astype('category')
dataset['education'] = dataset['education'].astype('category')
dataset['town'] = dataset['town'].astype('category')
dataset['job'] = dataset['job'].astype('category')
dataset['maritalstatus']= dataset['maritalstatus'].astype('category')

In [1980]:
# # Add features, such as average sales pr. day, average sales pr. month, rolling mean 90 periods
# def add_avg(x):
#     x['daily_avg']=x.groupby(['item','store','dayofweek'])['sales'].transform('mean')
#     x['monthly_avg']=x.groupby(['item','store','month'])['sales'].transform('mean')
#     return x

# dataset = add_avg(dataset).dropna()
# education_avg = train.groupby(['item','store','dayofweek'])['sales'].mean().reset_index()
# monthly_avg = train.groupby(['item','store','month'])['sales'].mean().reset_index()

# def merge(x,y,col,col_name):
#     x =pd.merge(x, y, how='left', on=None, left_on=col, right_on=col,
#             left_index=False, right_index=False, sort=True,
#              copy=True, indicator=False,validate=None)
#     x=x.rename(columns={'sales':col_name})
#     return x

# test = merge(test, daily_avg,['item','store','dayofweek'],'daily_avg')
# test = merge(test, monthly_avg,['item','store','month'],'monthly_avg')

In [1981]:
dataset_encoded = pd.get_dummies(dataset, columns=['gender'], prefix = ['gender'])
dataset_encoded = pd.get_dummies(dataset_encoded, columns=['education'], prefix = ['education'])
dataset_encoded = pd.get_dummies(dataset_encoded, columns=['maritalstatus'], prefix = ['maritalstatus'])
dataset_encoded = pd.get_dummies(dataset_encoded, columns=['job'], prefix = ['job'])
dataset_encoded = pd.get_dummies(dataset_encoded, columns=['town'], prefix = ['town'])

In [1982]:
temp_default = dataset_encoded['default']
to_be_normailzed = dataset_encoded.select_dtypes(include=['int','float'])
normalized = (to_be_normailzed - to_be_normailzed.mean()) / to_be_normailzed.std()
dataset_encoded[list(normalized.columns)] = normalized
dataset_encoded['default'] = temp_default
#dataset_encoded['id'] = temp_id

In [1983]:
dataset_encoded = dataset_encoded.loc[:, ~dataset_encoded.columns.str.contains('^Unnamed')]#dropping the unamed columns
dataset_encoded = dataset_encoded.loc[:, dataset_encoded.columns != 'id']

In [1984]:
X=dataset_encoded.drop('default',axis=1)
y=dataset_encoded.pop('default')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=0)
X.columns

Index(['age', 'dependants', 'year', 'month', 'day', 'dayofyear', 'dayofweek',
       'weekofyear', 'weekofmonth', 'log_dayofyear', 'day_power_year',
       'day_week_power_year', 'gender_FEMALE', 'gender_MALE',
       'education_BASIC', 'education_HIGHER_BA', 'education_HIGHER_MA',
       'education_HIGHER_PHD', 'education_SECONDARY',
       'education_SECONDARY_SPECIALISED', 'maritalstatus_COHABITING',
       'maritalstatus_DIVORCED', 'maritalstatus_MARRIED',
       'maritalstatus_SINGLE', 'maritalstatus_WIDOW', 'job_EMPLOYEE',
       'job_ENTREPRENEUR', 'job_PENSIONER', 'job_RETIRED', 'job_STUDENT',
       'job_UNEMPLOYED', 'town_Akranes', 'town_Akureyri', 'town_Garðabær',
       'town_Grindavík', 'town_Hafnarfjörður', 'town_Kópavogur',
       'town_Mosfellsbær', 'town_Reykjavík', 'town_Sauðárkrókur',
       'town_Selfoss', 'town_Seltjarnarnes', 'town_Vestmannaeyjar',
       'town_Álftanes', 'town_Ísafjörður'],
      dtype='object')

In [1985]:
# from imblearn.over_sampling import SMOTE
# os = SMOTE(random_state=0)
# columns = X_train.columns
# X_train,y_train=os.fit_sample(X_train, y_train)
# X_train = pd.DataFrame(data=X_train,columns=columns )
# y_train = pd.DataFrame(data=y_train,columns=['default'])
# # we can Check the numbers of our data
# print("length of oversampled data is ",len(X_train))
# print("Numbe invalid type promotionr of7736 no subscription in oversampled data",len(y_train[y_train['default']==0]))
# print("Number of subscription",len(y_train[y_train['default']==1]))
# print("Proportion of no subscription data in oversampled data is ",len(y_train[y_train['default']==0])/len(X_train))
# print("Proportion of subscription data in oversampled data is ",len(y_train[y_train['default']==1])/len(X_train))

In [1986]:
# # Oversample and plot imbalanced dataset with SMOTE
# from collections import Counter
# from sklearn.datasets import make_classification
# from imblearn.over_sampling import SMOTE
# from matplotlib import pyplot
# from numpy import where
# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.pipeline import Pipeline

# over = SMOTE(sampling_strategy=0.4)
# under = RandomUnderSampler(sampling_strategy=0.5)


# steps = [('o', over), ('u', under)]
# pipeline = Pipeline(steps=steps)
# X_train, y_train = pipeline.fit_resample(X_train, y_train)

In [1987]:
class_weights = {0: 1,
                1: 3}
penalty = 'l2' 
C=1
max_iter=10000
fit_intercept=False
intercept_scaling=1
multi_class='ovr'
solver='lbfgs'
class_weight=class_weights

In [1988]:
# grid search k value for SMOTE oversampling for imbalanced classification
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.feature_selection import SelectFromModel

# define dataset
# values to evaluate
k_values = [1, 2, 3, 4, 5, 6, 7]
for k in k_values:
# define pipeline
    model=LogisticRegression(
                                class_weight = class_weights,
                                C=C,
                                max_iter=max_iter,
                                fit_intercept=fit_intercept,
                                intercept_scaling=intercept_scaling,
                                multi_class=multi_class,
                                solver=solver
                                )

    over = SMOTE(sampling_strategy=0.1, k_neighbors=k)
    under = RandomUnderSampler(sampling_strategy=0.5)
    selector = SelectFromModel(estimator=model,threshold=0.1)

    steps = [('over', over), ('under', under),('feature_selection',selector), ('model', model)]
    pipeline = Pipeline(steps=steps)
    # evaluate pipeline
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    scores = cross_val_score(pipeline, X_train, y_train, scoring='precision', cv=cv, n_jobs=-1)
    score = mean(scores)
    print('> k=%d, Mean ROC AUC: %.3f' % (k, score))

> k=1, Mean ROC AUC: 0.099
> k=2, Mean ROC AUC: 0.099
> k=3, Mean ROC AUC: 0.099
> k=4, Mean ROC AUC: 0.098
> k=5, Mean ROC AUC: 0.099
> k=6, Mean ROC AUC: 0.098
> k=7, Mean ROC AUC: 0.099

In [1989]:
data_final_vars=dataset_encoded.columns.values.tolist()
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(
                            class_weight = class_weights,
                            C=C,
                            max_iter=max_iter,
                            fit_intercept=fit_intercept,
                            intercept_scaling=intercept_scaling,
                            multi_class=multi_class,
                            solver=solver
                            )
logreg.fit(X_train,y_train)
feature_idx=(np.round(logreg.coef_,decimals=3) > 0.1).tolist()[0]
feature_name=X.columns[feature_idx]
print(X.columns[feature_idx])

Index(['day', 'weekofyear', 'log_dayofyear', 'education_BASIC',
       'maritalstatus_SINGLE', 'job_STUDENT', 'town_Akranes',
       'town_Vestmannaeyjar'],
      dtype='object')

In [1990]:
X_train=X_train[feature_name]
X_test=X_test[feature_name]

In [1991]:

# define model
model = LogisticRegression(
                            class_weight = class_weights,
                            C=C,
                            max_iter=max_iter,
                            fit_intercept=fit_intercept,
                            intercept_scaling=intercept_scaling,
                            multi_class=multi_class,
                            solver=solver
                            )
# evaluate pipeline
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(model, X_train, y_train, scoring='roc_auc', cv=cv, n_jobs=-1)
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.476

In [1992]:
from sklearn.linear_model import LogisticRegression

from sklearn import metrics

from numpy import mean

from sklearn.datasets import make_classification

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold


logreg=LogisticRegression(
                            class_weight = class_weights,
                            C=C,
                            max_iter=max_iter,
                            fit_intercept=fit_intercept,
                            intercept_scaling=intercept_scaling,
                            multi_class=multi_class,
                            solver=solver
                            )


logreg.fit(X_train, y_train)

LogisticRegression(C=1, class_weight={0: 1, 1: 3}, dual=False,
                   fit_intercept=False, intercept_scaling=1, l1_ratio=None,
                   max_iter=10000, multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [1993]:
len(feature_name)

8

In [1994]:
y_pred = logreg.predict(X_test)
#y_pred = model.predict(X_test)
#y_pred = np.argmax(y_pred, axis=-1)
#print(y_pred)

In [1995]:
decisions = (logreg.predict_proba(X_test) >= 0.55).astype(int)
n = 1 # N. . .
decisions = [x[n] for x in decisions]
y_pred = decisions

In [1996]:
# from sklearn.metrics import confusion_matrix
# confusion_matrix = confusion_matrix(y_test, y_pred)
# print(confusion_matrix)

In [1997]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.90      0.91       369
           1       0.10      0.13      0.11        31

    accuracy                           0.84       400
   macro avg       0.51      0.51      0.51       400
weighted avg       0.86      0.84      0.85       400

In [1998]:
a=np.array((np.array(y_pred) > 0) ,dtype=bool)
b=np.array((y_test > 0) ,dtype=bool)
defaults_captured = 0
defaults_missed = 0

defaults_real = [i for i, x in enumerate(b) if x]
defaults_pred = [i for i, x in enumerate(a) if x]
undefaults_real = [i for i, x in enumerate(b) if (not(x))]
undefaults_pred = [i for i, x in enumerate(a) if (not(x))]

# Results we want to optimize

In [1999]:
true_positives = 0
true_negatives = 0

false_positives = 0
false_negatives = 0

for elem in defaults_real:
    if elem in defaults_pred:
        true_positives += 1
    else:
        false_negatives += 1        
        
for elem in undefaults_real:
    if elem in undefaults_pred:
        true_negatives += 1
    else:
        false_positives += 1
        
precision =  true_positives/(true_positives+false_positives)
recall = true_positives/(true_positives+false_negatives)
f1= 2*(precision*recall)/(precision+recall)


#print("true positives", true_positives)
#print("true negatives", true_negatives)

#print("false positives", false_positives)
#print("false negatives", false_negatives)

print ("precision ", precision)
print ("recall ", recall)
print("f1 ",f1)

precision  0.0975609756097561
recall  0.12903225806451613
f1  0.1111111111111111