In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('dataset.tsv', sep='\t')

/home/abdul/anaconda3/envs/BDA/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
display(dataset)

,user_id_hashed,profile_type,user_create_date,user_language,age_years_bucket,user_country_code,transfer_submit_time,deposit_receive_time,transfer_amount_gbp,payment_status,payment_reference_classification,source_currency_code,target_currency_code
0,aa2cdd43ea,Personal,2016-09-19,EN,5. 46-60,191,2016-09-29 12:04:06.000000,2016-09-29 12:07:02.000000,6056,Transferred,blank,3,33
1,eeaca17571,Personal,2016-08-04,EN,3. 26-34,134,2016-09-29 12:04:39.000000,2016-09-29 15:41:19.000000,1359,Transferred,monthly,1,26
2,42fe418c52,Personal,2016-09-29,EN,3. 26-34,134,2016-09-29 12:06:46.000000,2016-09-29 12:25:39.000000,1571,Transferred,Other/unknown,2,26
3,e5594025fa,Personal,2016-06-24,FR,3. 26-34,178,2016-09-29 12:08:38.000000,2016-09-30 17:50:27.000000,8323,Transferred,Other/unknown,9,14
4,c2946ed453,Personal,2016-05-20,EN,3. 26-34,134,2016-09-29 12:08:56.000000,2016-09-29 12:10:45.000000,1571,Transferred,blank,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72357,c83513c579,Personal,2016-09-29,EN,2. 18-25,134,2016-09-29 06:15:35.000000,NaN,?,Cancelled,blank,1,26
72358,c83513c579,Personal,2016-09-29,EN,2. 18-25,134,2016-09-29 06:18:48.000000,NaN,?,Cancelled,blank,1,26
72359,50916f3a39,Personal,2016-09-29,EN,2. 18-25,134,2016-09-29 10:33:18.000000,2016-09-29 10:41:52.000000,?,Transferred,Other/unknown,6,26
72360,88c42e38b3,Personal,2016-01-27,US,2. 18-25,134,2016-09-29 10:51:43.000000,2016-09-29 10:54:11.000000,?,Transferred,blank,1,26
72361,4f1567a3f8,Personal,2016-09-29,EN,2. 18-25,134,2016-09-29 11:12:59.000000,NaN,?,Cancelled,invoice,2,26

In [4]:
print(dataset.columns.values.tolist())
print(dataset.dtypes)

['user_id_hashed', 'profile_type', 'user_create_date', 'user_language', 'age_years_bucket', 'user_country_code', 'transfer_submit_time', 'deposit_receive_time', 'transfer_amount_gbp', 'payment_status', 'payment_reference_classification', 'source_currency_code', 'target_currency_code']
user_id_hashed                      object
profile_type                        object
user_create_date                    object
user_language                       object
age_years_bucket                    object
user_country_code                    int64
transfer_submit_time                object
deposit_receive_time                object
transfer_amount_gbp                 object
payment_status                      object
payment_reference_classification    object
source_currency_code                 int64
target_currency_code                 int64
dtype: object

In [5]:
dataset=dataset.replace('?',np.nan)
dataset=dataset.replace("",np.nan)

In [6]:
#dataset['user_id_hashed'] = dataset['user_id_hashed'].astype('int')
dataset['transfer_amount_gbp'] = dataset['transfer_amount_gbp'].astype('float')
dataset['profile_type'] = dataset['profile_type'].astype('category')
dataset['user_language'] = dataset['user_language'].astype('category')
dataset['age_years_bucket'] = dataset['age_years_bucket'].astype('category')
dataset['user_country_code'] = dataset['user_country_code'].astype('category')
dataset['payment_reference_classification'] = dataset['payment_reference_classification'].astype('category')
dataset['payment_status'] = dataset['payment_status'].astype('category')
dataset['source_currency_code'] = dataset['source_currency_code'].astype('category')
dataset['target_currency_code'] = dataset['target_currency_code'].astype('category')
dataset['transfer_amount_gbp'] = pd.to_numeric(dataset['transfer_amount_gbp'])
dataset['transfer_submit_time']=pd.to_datetime(dataset['transfer_submit_time'])
dataset['deposit_receive_time']=pd.to_datetime(dataset['deposit_receive_time'])
dataset['user_create_date']=pd.to_datetime(dataset['user_create_date'])
dataset.dtypes

user_id_hashed                              object
profile_type                              category
user_create_date                    datetime64[ns]
user_language                             category
age_years_bucket                          category
user_country_code                         category
transfer_submit_time                datetime64[ns]
deposit_receive_time                datetime64[ns]
transfer_amount_gbp                        float64
payment_status                            category
payment_reference_classification          category
source_currency_code                      category
target_currency_code                      category
dtype: object

In [7]:
dataset.isnull().sum()

user_id_hashed                          0
profile_type                            0
user_create_date                        0
user_language                           0
age_years_bucket                        0
user_country_code                       0
transfer_submit_time                    0
deposit_receive_time                30979
transfer_amount_gbp                  4239
payment_status                          0
payment_reference_classification        0
source_currency_code                    0
target_currency_code                    0
dtype: int64

In [8]:
least_recent_date = dataset['transfer_submit_time'].min().date()
recent_date = dataset['transfer_submit_time'].max().date()

print("records contain transfer subits from ", least_recent_date, " to ", recent_date )

records contain transfer subits from  2016-01-01  to  2017-03-12

In [9]:
for column in dataset.columns.values:
    if ("time" in column) or ("date" in column) or ("id" in column):
        continue
    else:
        print("\n\nColumn [", column, "] \n\nUnique Values", dataset[column].unique())
        print(dataset[column].describe())

Column [ profile_type ]

Unique Values [Personal, Business]
Categories (2, object): [Personal, Business]
count        72362
unique           2
top       Personal
freq         71273
Name: profile_type, dtype: object


Column [ user_language ]

Unique Values [EN, FR, IT, RU, US, ES, DE, PT, JA, HU]
Categories (10, object): [EN, FR, IT, RU, ..., DE, PT, JA, HU]
count     72362
unique       10
top          EN
freq      57000
Name: user_language, dtype: object


Column [ age_years_bucket ]

Unique Values [5. 46-60, 3. 26-34, 4. 36-45, 6. 61+, 2. 18-25]
Categories (5, object): [5. 46-60, 3. 26-34, 4. 36-45, 6. 61+, 2. 18-25]
count        72362
unique           5
top       3. 26-34
freq         41105
Name: age_years_bucket, dtype: object


Column [ user_country_code ]

Unique Values [191, 134, 178, 215, 233, ..., 93, 217, 179, 46, 54]
Length: 78
Categories (78, int64): [191, 134, 178, 215, ..., 217, 179, 46, 54]
count     72362
unique       78
top         134
freq      41614
Name: user_country_code, dtype: int64


Column [ transfer_amount_gbp ]

Unique Values [6056. 1359. 1571. ... 3942. 5197.   nan]
count    6.812300e+04
mean     3.699877e+03
std      4.922412e+04
min      0.000000e+00
25%      2.760000e+02
50%      8.460000e+02
75%      1.916000e+03
max      1.763860e+06
Name: transfer_amount_gbp, dtype: float64


Column [ payment_status ]

Unique Values [Transferred, Cancelled]
Categories (2, object): [Transferred, Cancelled]
count           72362
unique              2
top       Transferred
freq            40141
Name: payment_status, dtype: object


Column [ payment_reference_classification ]

Unique Values [blank, monthly, Other/unknown, rent, invoice, ..., taxes, gift, deposit, pension, mortgage]
Length: 25
Categories (25, object): [blank, monthly, Other/unknown, rent, ..., gift, deposit, pension, mortgage]
count     72362
unique       25
top       blank
freq      44984
Name: payment_reference_classification, dtype: object


Column [ source_currency_code ]

Unique Values [3, 1, 2, 9, 4, ..., 41, 14, 35, 30, 11]
Length: 18
Categories (18, int64): [3, 1, 2, 9, ..., 14, 35, 30, 11]
count     72362
unique       18
top           1
freq      21813
Name: source_currency_code, dtype: int64


Column [ target_currency_code ]

Unique Values [33, 26, 14, 42, 82, ..., 65, 29, 15, 73, 54]
Length: 41
Categories (41, int64): [33, 26, 14, 42, ..., 29, 15, 73, 54]
count     72362
unique       41
top          26
freq      40032
Name: target_currency_code, dtype: int64

In [10]:
dataset['transfer_amount_gbp'].where(dataset['transfer_amount_gbp'] > 5000)


data_greaterthan_5000=dataset[(dataset.transfer_amount_gbp > 5000) ].nlargest(21, 'transfer_amount_gbp')
data_greaterthan_5000

,user_id_hashed,profile_type,user_create_date,user_language,age_years_bucket,user_country_code,transfer_submit_time,deposit_receive_time,transfer_amount_gbp,payment_status,payment_reference_classification,source_currency_code,target_currency_code
4544,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 15:12:44,NaT,1763860.0,Cancelled,blank,9,27
4550,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 15:22:50,NaT,1763860.0,Cancelled,blank,9,27
4556,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 15:43:20,NaT,1763860.0,Cancelled,blank,9,27
4500,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 12:47:19,NaT,1682892.0,Cancelled,blank,1,3
4512,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 13:26:47,NaT,1682892.0,Cancelled,blank,1,3
4531,c98ade9edb,Personal,2016-10-17,EN,6. 61+,130,2016-10-18 14:37:04,NaT,1682892.0,Cancelled,blank,1,70
6186,fe49426271,Personal,2016-10-26,EN,4. 36-45,134,2016-10-26 13:32:08,NaT,1680372.0,Cancelled,blank,1,26
59997,92290c40a1,Business,2016-08-13,EN,4. 36-45,134,2016-08-13 16:10:23,NaT,1627456.0,Cancelled,blank,1,26
59999,92290c40a1,Business,2016-08-13,EN,4. 36-45,134,2016-08-13 16:12:32,NaT,1627456.0,Cancelled,blank,1,26
57686,a80739069f,Business,2016-06-23,EN,4. 36-45,134,2016-07-25 18:55:47,NaT,1579883.0,Cancelled,blank,1,26
57687,a80739069f,Business,2016-06-23,EN,4. 36-45,134,2016-07-25 18:55:59,NaT,1579883.0,Cancelled,blank,1,26
4874,b320a978d0,Personal,2016-10-19,EN,3. 26-34,130,2016-10-19 19:54:35,NaT,1570796.0,Cancelled,blank,2,1
5060,f65b9b6419,Personal,2016-10-20,EN,3. 26-34,134,2016-10-20 16:47:24,NaT,1570796.0,Cancelled,invoice,2,26
7044,ef1f2f71a1,Personal,2016-10-30,EN,3. 26-34,134,2016-10-30 16:04:22,NaT,1570796.0,Cancelled,invoice,2,3
11269,a6bc3ed784,Personal,2016-11-12,EN,4. 36-45,130,2016-11-12 18:59:58,NaT,1570796.0,Cancelled,blank,2,3
12128,3ee46219a3,Personal,2016-11-14,EN,3. 26-34,130,2016-11-16 09:46:54,NaT,1570796.0,Cancelled,blank,2,3
19242,4b2f28326e,Personal,2016-12-12,EN,6. 61+,130,2016-12-13 00:38:27,NaT,1570796.0,Cancelled,invoice,2,1
19243,4b2f28326e,Personal,2016-12-12,EN,6. 61+,130,2016-12-13 00:44:24,NaT,1570796.0,Cancelled,invoice,2,1
19246,4b2f28326e,Personal,2016-12-12,EN,6. 61+,130,2016-12-13 00:54:13,NaT,1570796.0,Cancelled,invoice,2,1
19247,4b2f28326e,Personal,2016-12-12,EN,6. 61+,130,2016-12-13 00:58:25,NaT,1570796.0,Cancelled,invoice,2,1
19249,4b2f28326e,Personal,2016-12-12,EN,6. 61+,130,2016-12-13 01:03:43,NaT,1570796.0,Cancelled,monthly,2,1

In [11]:
distinct_in_top100 = np.unique(data_greaterthan_5000['user_id_hashed'].values.tolist())

print("distinct_in_top100 :  ",len(distinct_in_top100))

distinct_in_top100 :   10

In [12]:
dataset['user_id_hashed'].value_counts().to_dict()

{'ddbac55d04': 152,
 '40f82150ce': 135,
 '886c375df1': 105,
 '299d30f1fd': 99,
 '081ab20e3c': 96,
 '894ed8b166': 95,
 '08f3b20f31': 92,
 '4ac45656b6': 86,
 '91c757d0c2': 81,
 '90d0725242': 80,
 '978d5dd61b': 77,
 '0b2e16a2bf': 74,
 '5bc078ba04': 68,
 '4f768961a2': 67,
 '1032c11b65': 67,
 '2aec234093': 66,
 '034fef01e1': 65,
 '7d0acef7ed': 61,
 'ce50572781': 60,
 '54ad07e0dc': 59,
 'cf80c9cd4f': 57,
 '1b68a94b27': 56,
 '24028d9228': 56,
 '76ee3458fd': 55,
 '41b86568b4': 55,
 'b90f6ea6c4': 55,
 '6b11229061': 53,
 '244ffde7fc': 53,
 'dc80095232': 53,
 'a9b7eb165e': 50,
 'c7ca956697': 50,
 '8a432db0c3': 49,
 'c5652a1283': 48,
 'f4b49253a4': 47,
 'a09a05cee4': 47,
 '1ff849420a': 47,
 '30b657186c': 47,
 'dcdbf0a9ff': 46,
 '77490ceeef': 46,
 '16e66a5778': 46,
 'f5b2bb5172': 46,
 'cda6969f51': 46,
 '6f0a0fc800': 46,
 '8a2b897ad5': 46,
 'd3ee7cc7b4': 45,
 '101c55aa34': 45,
 '8b080f95bb': 45,
 '74919cc51a': 45,
 '714621c686': 45,
 '2cd2a94c14': 44,
 '44cdaa7b7f': 44,
 '48c8b1fa7f': 44,
 '372c49e1ed': 44,
 'ac6b41c93b': 43,
 '6bbbd92c12': 42,
 'ca95dc1f27': 42,
 'c79c7c5459': 41,
 '3a908cacc6': 41,
 '975da19fab': 41,
 'f39a84c936': 41,
 '689f2d65c5': 41,
 'c2720fe018': 41,
 '442e070504': 40,
 '0fb61066cd': 40,
 '3a1645920e': 40,
 '85381deb40': 39,
 'd424e8f459': 39,
 'eefe2b8c12': 39,
 '3a58357323': 39,
 'd2f50084dd': 39,
 '332a7cdff9': 39,
 '44028351df': 39,
 'cb40a76b09': 38,
 'aff1c18ca6': 38,
 '699b05f74b': 38,
 'ab82a42827': 38,
 'd906b4b44f': 38,
 '4b2b1a371a': 38,
 '9ce8436ab4': 38,
 'dc7cafa8fa': 37,
 '820f88d5f9': 37,
 '08c0d9a297': 37,
 '227c3d5c19': 37,
 '05142c9aed': 37,
 '1dafa2adbc': 37,
 '7e757d65fe': 37,
 'd993987011': 37,
 'be16968270': 37,
 '9c714d12c9': 37,
 '74e121d321': 37,
 '8e5b38b594': 36,
 '5b49489e2b': 36,
 '8bb4126233': 36,
 '15dd2661ac': 36,
 '97d5f10c51': 36,
 '57b1432a8a': 35,
 '986b6641a2': 35,
 '63a6bf70f3': 35,
 'bcfc90f122': 35,
 'ba40542dd1': 35,
 'fde84c2739': 35,
 'a9a98327d1': 35,
 'b022e72d4a': 35,
 'b4ccb48be6': 35,
 '0a9e4eea1c': 35,
 '4cf8c69946': 35,
 'f0a79b4323': 35,
 '74ab89744c': 35,
 'a192eb3831': 35,
 'f147da83e0': 35,
 'ca4b160004': 34,
 'd29711452f': 34,
 '6950426429': 34,
 '593be227fe': 34,
 'a6ceb7a741': 34,
 'a091a50bf7': 34,
 'e1efbb56d9': 34,
 '2aadc6f4bb': 33,
 '59514529f3': 33,
 '179a4c1fc8': 33,
 'bea7f607c3': 33,
 '8026674843': 33,
 'f64c064953': 33,
 'c0ff02d458': 33,
 'a46e602960': 33,
 '1df7de7da7': 33,
 'a9494faf68': 33,
 'ad676f5e47': 33,
 '656099201f': 32,
 '24c1307833': 32,
 '3e0258c208': 32,
 '76dd4a256e': 32,
 'd0753b7c28': 32,
 '87f711c3ae': 32,
 '5bfefd9365': 32,
 '5d143017b0': 32,
 'a7f43578d5': 32,
 '8acd3caa01': 32,
 '9c9eaa9197': 32,
 '468cad7d5c': 32,
 '536a63178b': 32,
 '1fff8a08e5': 32,
 '24dda529a5': 32,
 '42b4f7134d': 32,
 '3b5b4f4043': 32,
 'bb99ffc768': 31,
 '360354f7dc': 31,
 '815be966b9': 31,
 '8b5fa9d0df': 31,
 '0f2bd567c6': 31,
 '70f3fc451e': 31,
 'c3dc55fd7b': 31,
 '9f2b9f3e3f': 31,
 '3abf529c5d': 31,
 '4682c6b161': 31,
 'f9206422db': 30,
 'c200cb0093': 30,
 '901f4f0bff': 30,
 '2a06ff61f4': 30,
 '6ac9c69278': 30,
 'a50fe96034': 30,
 'c49ad1e16c': 30,
 '8c35b6f6ab': 30,
 '6e95c00e1b': 30,
 '6896c7b2cd': 30,
 'e2c16ae48e': 30,
 'a28e25a587': 30,
 '851db65e42': 30,
 'facff6609c': 30,
 '7c4bd1c6bf': 30,
 'ba25d0f83c': 30,
 '426ca2aa11': 30,
 'd4c174c349': 30,
 '74452a3f24': 30,
 'a5b6747e0e': 30,
 '08d81cde15': 29,
 'b2d026b480': 29,
 '988082a958': 29,
 '3dd25a1fb9': 29,
 '5d647788bb': 29,
 'f3a0f4eba8': 29,
 'eeb360a616': 29,
 '9394f96412': 29,
 'af5ef78647': 29,
 '9759b233ee': 29,
 '1ac49c1fd9': 29,
 '73314b9603': 29,
 '115048b898': 29,
 '85632caf09': 28,
 'f57fd5124a': 28,
 'cbb163154a': 28,
 'df25b92a4f': 28,
 '3f74064f7d': 28,
 'c2557835b5': 28,
 '7b65f5de1c': 28,
 '460b6f83ff': 28,
 'bbe9419030': 28,
 'c3ac3c54c1': 28,
 '1b1b63a48e': 28,
 '2876568a5b': 28,
 '0bf9dae7ae': 28,
 '22768a0b2d': 28,
 '19c1f75cfc': 28,
 '98056461aa': 28,
 '32790873c9': 28,
 '2e4d60c72c': 28,
 '00997bcfdd': 27,
 '1ddbd8922a': 27,
 '8bcbacfeea': 27,
 '6dd59ba296': 27,
 'e86cd731e8': 27,
 'ebf828e801': 27,
 'ec970ce17a': 27,
 '42ac18ab3d': 27,
 'a8b4b80fcd': 27,
 '142d8027bb': 27,
 '7a5e23007d': 27,
 'c9a0ea30b6': 27,
 'c0025d69ec': 27,
 '43b6103068': 27,
 '1cca3aad72': 27,
 '16539c0e96': 27,
 'f347782fef': 27,
 '3a4468492b': 27,
 '752cd147e7': 27,
 '92ebe421fe': 27,
 '08894b5309': 27,
 '9a09437fe8': 27,
 '531a4ddcab': 27,
 'f8a228527e': 27,
 '4ef64c4d70': 26,
 'd5361e0ab5': 26,
 '3e47134e8e': 26,
 '70ef2f14d0': 26,
 '6d547233a6': 26,
 'c7e78fd7e3': 26,
 'ffbbdd1952': 26,
 'e5594025fa': 26,
 '2730031dd9': 26,
 '630e5e2244': 26,
 '9c769c4d80': 26,
 'f43b83689f': 26,
 'f1a6479e7c': 26,
 'b6542dfbda': 26,
 '1eca40cb69': 26,
 '8d209b79df': 26,
 '9701e297dc': 26,
 'ca58a7d0df': 26,
 'eef92355eb': 26,
 'a61a985dfb': 26,
 '165a7504b4': 26,
 '1776c7a45c': 26,
 'f92d209b37': 26,
 '04c8d21ecd': 26,
 '6fe491b319': 26,
 'f5b69d5eb9': 26,
 '7981927497': 26,
 'c832e6368a': 26,
 '32835a1898': 26,
 '19ef11b701': 26,
 'd7caca8c52': 26,
 'fd5fdbc5fa': 25,
 '47376ee930': 25,
 'a88dc1bae4': 25,
 'd463564aa3': 25,
 'b6d9165d69': 25,
 'e5b40a51d9': 25,
 '851d4c2edd': 25,
 '217aa71272': 25,
 '19909d76f8': 25,
 '210092c5c6': 25,
 'cf4d7a1f00': 25,
 '04b7bd62a4': 25,
 'a3c3c1a027': 25,
 '152bbf2b9a': 25,
 '27673e759b': 25,
 '749878d1e1': 25,
 '4fc4b5cb07': 25,
 '70d5e21727': 25,
 '97eb8cd3e0': 25,
 'e049639c08': 24,
 '83140017ce': 24,
 '4a5dea513e': 24,
 'c78ef34b8c': 24,
 'b1f1688b0d': 24,
 'e8b19311ef': 24,
 'f26d7b0af1': 24,
 'ee17ac38e5': 24,
 'e9df8bfb43': 24,
 'cc8d24195e': 24,
 '3365bab79f': 24,
 '322ace84eb': 24,
 'cbadcdff4e': 24,
 'ce11e3d9b0': 24,
 'e050c48858': 24,
 '3e1e05d853': 24,
 '96c7cabcdd': 24,
 '893bd101d9': 24,
 '6b925f87be': 24,
 'de77bf82a6': 24,
 'a1aae113af': 24,
 'ee972c678e': 24,
 '19be735ce6': 24,
 '2d2bd46cc4': 24,
 'c033beeed0': 24,
 '2e4a8217f7': 24,
 '68448a7003': 23,
 '03d7a328c1': 23,
 '33723e0290': 23,
 'f6c2a6b474': 23,
 '2e424eeb7b': 23,
 '1cdde223a0': 23,
 '31b185a2a1': 23,
 'ecb74e9b88': 23,
 '71c4672abf': 23,
 '1e662d490f': 23,
 '3d90e57761': 23,
 'f6bafd1e9a': 23,
 'ee827da279': 23,
 'aeca8d3361': 23,
 '427c943237': 23,
 '8940628ca8': 23,
 'c18d65b690': 23,
 '35b9dd6130': 23,
 '0eccd46c3b': 23,
 'f1647ed4cb': 23,
 'a8cf9d704a': 23,
 '7d7de29499': 23,
 '887def251e': 23,
 'bf06caff04': 23,
 '0265444839': 23,
 '60b6b69493': 23,
 'd9a35f6243': 23,
 '99e7df3803': 23,
 '50b8cb02e8': 23,
 '1c9cd0e722': 23,
 '4fc72ff785': 23,
 '8fe7f16c09': 23,
 '9fe62de7ae': 23,
 'cd568b4cf2': 23,
 '144d938f45': 23,
 '31eafebd57': 22,
 '80a029ba4a': 22,
 '4566110f23': 22,
 'e5535c7087': 22,
 '77a682a262': 22,
 '0533c01f39': 22,
 'cdfc399850': 22,
 '3ca94ac42b': 22,
 'ffb337e32a': 22,
 '347eeaae4d': 22,
 'c39cf8efad': 22,
 'ff96338f37': 22,
 '9d0a09567f': 22,
 'a0adcd8c1f': 22,
 'c16266db8e': 22,
 'e38cd26012': 22,
 '7758c5e264': 22,
 '82cb2557c5': 22,
 '4aecede444': 22,
 'd1998b4780': 22,
 '69d2f4b348': 22,
 'e71cc30404': 22,
 '102fe962d6': 22,
 '79376b7e3e': 22,
 '97dec10bfc': 22,
 '4709a2ca29': 22,
 '81bca0bca6': 22,
 '5bc070ad9f': 22,
 '9c4072262c': 22,
 'f3cb9bffbb': 22,
 '474779af05': 22,
 '17133c232e': 22,
 '67af406aba': 22,
 '6831968fe8': 22,
 '0c714f1b5e': 21,
 '4d366be92a': 21,
 'c463e2640f': 21,
 '5be03a785c': 21,
 'dbf1846911': 21,
 '00f3464be8': 21,
 '6580a10b0b': 21,
 '4000998cf7': 21,
 '0a52ea4c75': 21,
 'e578664a8b': 21,
 '7e392320d7': 21,
 '03a0560b6a': 21,
 'fbe607f99e': 21,
 'f2bf3b201b': 21,
 'c7ae4b414f': 21,
 'dd2f34596d': 21,
 '3691ee9bb3': 21,
 '6206259346': 21,
 'f848bd52ae': 21,
 '6e4aa33912': 21,
 '3db4c1a81f': 21,
 '7c7456fec2': 21,
 '8ce2c06ce7': 21,
 '79e028a51e': 21,
 '670428ce38': 21,
 '394c9f3375': 21,
 'd918be636f': 21,
 'de6006abd8': 21,
 'c27295ccdf': 21,
 '0c6018dd25': 21,
 '3a3729a488': 21,
 '7b8b0f49f6': 21,
 '8cf4d0145f': 21,
 'b64e2f2ce8': 21,
 'e18f429cb1': 21,
 '53c5352c46': 21,
 '391092f14e': 21,
 'a1f65911b6': 21,
 'be0a12ec2c': 21,
 '754fa06a09': 21,
 'f088e5c2eb': 21,
 '71c2f8fdeb': 21,
 '3244e0f9d8': 21,
 'cf0ad0da53': 21,
 'bb4c5db438': 21,
 '1aa420dd3f': 21,
 '20508a470b': 21,
 'fced4e74c4': 21,
 '95fe8655f8': 21,
 'eea159cba8': 21,
 '9546dab07b': 21,
 '894b60e48d': 21,
 '6bffde938f': 20,
 'd3e1419934': 20,
 '7a53e734ae': 20,
 'a1a5cf0251': 20,
 '5738e2b124': 20,
 'aad214c9df': 20,
 '78d5f1f151': 20,
 '4e6f4ff465': 20,
 'ae0e7e4709': 20,
 '1da5a79a1b': 20,
 '47311c9f6a': 20,
 'ec1f09ef21': 20,
 'fd24df251b': 20,
 '2ffe14d1e2': 20,
 '3c4044441d': 20,
 'be7e8ac97e': 20,
 'fbf3d93386': 20,
 '7a1bd70285': 20,
 'b1f286390e': 20,
 '8ce5a87a66': 20,
 '76ce2516d4': 20,
 'b7110a91e0': 20,
 '1d82809ec2': 20,
 'a805f10b2a': 20,
 '78ca3371e8': 20,
 '87c70165a0': 20,
 'c26fa811fb': 20,
 '9eae2c356e': 20,
 '31568d9a84': 20,
 'abe75acf68': 20,
 '5bb66562f5': 20,
 'ae2a7a41a6': 20,
 'cd3dffac14': 20,
 '5597d8248b': 20,
 '4aeb951458': 20,
 'fb4e16f04c': 20,
 '2bebbffe91': 20,
 '523c0a0c31': 20,
 '6cdb1d77b7': 20,
 'e6092baa12': 20,
 'b66777a1f8': 20,
 '45862f79a2': 20,
 'd3aad1311b': 20,
 '8a8bff8197': 20,
 'eb8d72cbd1': 20,
 '2e0a219529': 20,
 'fee2d964a7': 20,
 'ae535b858c': 20,
 'ace3390222': 20,
 'fdc6c54057': 20,
 '157d3d38e4': 20,
 'c17314e40b': 19,
 'b53d5660f6': 19,
 'c98669d998': 19,
 '2f391d0154': 19,
 '0a4a789537': 19,
 '7b327f2be8': 19,
 'bf79a4b3c3': 19,
 '41c3b9f27a': 19,
 'f7603111d6': 19,
 '9f219fdeea': 19,
 '14e69e4d2d': 19,
 'c330721f25': 19,
 '35474de6df': 19,
 '9e6c1479ca': 19,
 '1b655cfcc9': 19,
 'd241acd37a': 19,
 '3908d9ef4b': 19,
 'dab6f90c96': 19,
 'b9b53a9e8f': 19,
 '6ead9ace8d': 19,
 '2781df20c5': 19,
 '8c620bc5b9': 19,
 '6d3715b191': 19,
 '15062dd10d': 19,
 '56d9ff6e21': 19,
 'a61bf8fb06': 19,
 '95b587b71a': 19,
 '83690c1b4b': 19,
 '499a36abd9': 19,
 'b8c2c9b5ff': 19,
 '214e959c07': 19,
 'c770994a1d': 19,
 'a413828c7c': 19,
 'f38aa62da5': 19,
 'd677038e67': 19,
 '9ca4465fb5': 19,
 '29c26db3e8': 19,
 '52902229f8': 19,
 '3a25ce8816': 19,
 '411f19d98b': 19,
 '409b75e5ea': 19,
 '8f16f6501b': 19,
 '2e6d966692': 19,
 '5982ca1287': 19,
 'dc4ea8e894': 19,
 'b8f4cd158b': 19,
 'd5a8582cb6': 19,
 '5df9110654': 19,
 '5c9538fb9f': 19,
 '3bd71ac8ac': 19,
 'c1f60c4098': 19,
 '2c40081846': 19,
 'afd6e8381f': 19,
 '26dab696b4': 19,
 'f28e285cce': 19,
 'f2a66ab83f': 19,
 '818ada6bfc': 19,
 '6183e307fc': 19,
 '6560debd77': 19,
 '7db74808e8': 19,
 'f9c8419045': 19,
 '8abf62c55a': 19,
 '45dc25a6f5': 19,
 '431a9c7290': 19,
 'bc175f2a9a': 19,
 'd651dab4e5': 19,
 '68ac2194df': 19,
 '16f74a173b': 19,
 '11d426bac1': 19,
 '91605c7d00': 19,
 '687ac50d50': 19,
 '7678d7984c': 19,
 '0023d7eedc': 19,
 'c975b98884': 18,
 '08ff7f6752': 18,
 'f292ec08c9': 18,
 '820233939c': 18,
 '23b78c9aa2': 18,
 'b54a744edf': 18,
 'e9659c98cc': 18,
 'ed50fdf787': 18,
 '0ff90cc7a9': 18,
 '57d864514e': 18,
 '33766135d2': 18,
 '4c6d2b79b2': 18,
 '35af2b646e': 18,
 '65fc26fc36': 18,
 'acd94ac96a': 18,
 '84d41921f0': 18,
 '07c89e3192': 18,
 '3582792f49': 18,
 '8a09b935d9': 18,
 'ff6a7611d2': 18,
 '11cb316a70': 18,
 '41d7c9b931': 18,
 'a8adc465ea': 18,
 '0a48ae35c8': 18,
 '8fb268c1d5': 18,
 '115ae1771d': 18,
 '4651049a09': 18,
 'f7b481f606': 18,
 '816506ff7b': 18,
 '4f0b4a5608': 18,
 '2fa44be5d5': 18,
 '3d6b064183': 18,
 'ca3b132340': 18,
 '11f0f0a248': 18,
 '251f8525c1': 18,
 '6799536173': 18,
 '11a1a2c932': 18,
 '1650421480': 18,
 '886174ebb5': 18,
 'a67e267996': 18,
 '086b8c51bf': 18,
 'e0a191fd62': 18,
 'd04d1ee239': 18,
 '793af0a4f0': 18,
 '6a977dcd48': 18,
 'bd5ee29e58': 18,
 'cf14444932': 18,
 '99046ac8df': 18,
 '5cf1a5c510': 18,
 '1f36d95122': 18,
 '8f1e1db1da': 18,
 'ce892aff79': 18,
 '69701fc591': 18,
 '532b4916ad': 18,
 'b872cf424d': 18,
 'b017a2ae18': 18,
 '954ed95b54': 18,
 '7f9d9d28a0': 18,
 'f8c3be325f': 18,
 'cf74b9dc4a': 18,
 '2695543143': 18,
 'cbcfb83a0f': 18,
 '782a297ec8': 18,
 '83d1c76e8b': 18,
 'f603946bc9': 18,
 '62432f848f': 18,
 '8e222503fe': 18,
 '09a2b7fc8c': 18,
 '46138ee755': 18,
 '7d408375bd': 18,
 '84445bca6e': 18,
 '6a24bbbf5e': 18,
 '05184c8d42': 18,
 'aa263ca2ec': 18,
 '596cd43fe3': 18,
 'ecc667beef': 18,
 '806767ca9d': 18,
 '50f37587b6': 18,
 '6fba20127b': 17,
 'f97476eab0': 17,
 '69f1df991e': 17,
 'cf7c7c1c1e': 17,
 'd099ec5da7': 17,
 '8be8c90b7a': 17,
 '7aa80f4405': 17,
 '7e558041bd': 17,
 '53adee450d': 17,
 '37d7c79f35': 17,
 'd54410218d': 17,
 '74a290c52e': 17,
 '64a46b1308': 17,
 '27e53a735f': 17,
 'c9415efe2c': 17,
 '2fb8d83835': 17,
 '49b4d9fca8': 17,
 'e3d4530290': 17,
 '6804aa5def': 17,
 'b8ad0df1e8': 17,
 '773c5debe1': 17,
 'f230d72955': 17,
 '443ae4abda': 17,
 'd15fac8dc1': 17,
 '832fd20380': 17,
 '0d69f31827': 17,
 '32f32bf7e3': 17,
 'd67a5d014e': 17,
 'ee256bd030': 17,
 '5dd0ec9d6f': 17,
 '460a247aa6': 17,
 '738dd66596': 17,
 'b00677d213': 17,
 '3996d5ec11': 17,
 '724fada0ff': 17,
 'c96c626886': 17,
 '59663f36c9': 17,
 'f8403125b9': 17,
 'bdfbb8fb3c': 17,
 'd31ccdef20': 17,
 '4062c55a30': 17,
 'a081ff93a9': 17,
 '83e23bd1e8': 17,
 '14c3cb811b': 17,
 '94f8136502': 17,
 '0361a320dc': 17,
 'e93b42b4d0': 17,
 '7a226368d8': 17,
 '6fe7633613': 17,
 'f7f7b79cc7': 17,
 '6afc1da9b6': 17,
 'ee2cf12081': 17,
 '9ebfb991cb': 17,
 'a330d49ddb': 17,
 'a0db88c034': 17,
 '668fb0e3f4': 17,
 'd32aed3d16': 17,
 '764fb6e496': 17,
 '02fcd06788': 17,
 '5b0aec2e6e': 17,
 '9c3dca6cf8': 17,
 '800f2c2716': 17,
 '26c0630d18': 17,
 '2bd3d0f072': 17,
 '2d2fcae507': 17,
 'ad59f8de78': 17,
 '36c8ab22ad': 17,
 'dbaf335de2': 17,
 'b5d788dfd9': 17,
 '455b736298': 17,
 '42f978cec7': 17,
 'ddc8a669c5': 17,
 '243fe11f42': 17,
 '812eca7a57': 17,
 '3591967c3b': 17,
 '02187cf516': 17,
 'c462caac47': 17,
 '8fa45eddb7': 17,
 'c3bcb41431': 17,
 'e1a85505d3': 16,
 '9a0931b138': 16,
 '51fa9d0ad3': 16,
 'cce1d006d2': 16,
 '617066aa9d': 16,
 '9b0d36b9c4': 16,
 '87f6ed0fca': 16,
 'bd029256fd': 16,
 'c2426b8a7e': 16,
 'f0a165af11': 16,
 '699d02d5ad': 16,
 '8dd53055ec': 16,
 'de85884189': 16,
 '078e46de03': 16,
 '9a5caf004d': 16,
 '098f054082': 16,
 'd00033bf5e': 16,
 'd6cd02582e': 16,
 'eb7f8b6aef': 16,
 '6c020e28ab': 16,
 '8232bf7840': 16,
 'db99680ba4': 16,
 'a2f160f490': 16,
 '6723e1053b': 16,
 'f14f8d5606': 16,
 '3611389976': 16,
 'ee0f57bb1e': 16,
 '0b9fa9e7d3': 16,
 '69b0e1fe62': 16,
 '653c730f5f': 16,
 'de6a75ab1b': 16,
 '33cfa8ffcf': 16,
 '586fda7b99': 16,
 '349d6d5ae9': 16,
 '0e7436d664': 16,
 '7fe9dba70a': 16,
 '57bbe65525': 16,
 '5e80427d4e': 16,
 '97035385fb': 16,
 '0e9867e59c': 16,
 '7177a9639c': 16,
 '8eb2a19457': 16,
 '70d7c001cb': 16,
 'e74d4a3604': 16,
 '6099179893': 16,
 '1b735eca4b': 16,
 '288fd409b2': 16,
 '7bc677b1fe': 16,
 'b736496868': 16,
 '5b2ae3068b': 16,
 'a49bc2145b': 16,
 '8ccef1f878': 16,
 'b21ab385db': 16,
 'a1a31bcc05': 16,
 '2c685cf1ad': 16,
 '61fd516085': 16,
 '5d52635d2a': 16,
 '53a01937ad': 16,
 '8f0b4ff6c1': 16,
 '6fe3472055': 16,
 '7a0134f33e': 16,
 '9793b1036a': 16,
 '5b0d125bfb': 16,
 'eac4662eda': 16,
 'aaa44f87b1': 16,
 'b96cc60856': 16,
 'fbdde68459': 16,
 '11a7338bb6': 16,
 '673c13c14b': 16,
 '94244af2a7': 16,
 'b8cb284a96': 16,
 '6e8887eccc': 16,
 '36808ab907': 16,
 'd7a7f3ac43': 16,
 '1f44b17b1a': 16,
 'e1686433ef': 16,
 '512b1278fa': 16,
 'cd90bbcfba': 16,
 '9dabec99bd': 16,
 'e75fd72217': 16,
 '5b6932fe19': 16,
 'd23c5a2ca2': 16,
 'f7f5243d74': 15,
 'ea7c1e8656': 15,
 'd00c25952c': 15,
 '2b73a90cb8': 15,
 '3d7cc6fe80': 15,
 '49da1dcd6a': 15,
 'f31b8a5d83': 15,
 '5236a573fb': 15,
 '268dd44a2b': 15,
 '992667aa3b': 15,
 '27c9991af6': 15,
 'd7b94da720': 15,
 'b8603e3235': 15,
 '80b24a6729': 15,
 'b90d2f7d7f': 15,
 'b24cda6b13': 15,
 '6ac6af8919': 15,
 '76eda8b9a4': 15,
 '41abb8e65f': 15,
 '3f0366a55e': 15,
 '0ee1588c6d': 15,
 '0b729b5d8d': 15,
 '0b532f270c': 15,
 'b3fa652b50': 15,
 'd3c6720738': 15,
 'bebdf2cfc6': 15,
 '40fe7dc157': 15,
 '4b3ae42eb1': 15,
 'aefab5bf78': 15,
 'f199fe6c96': 15,
 'fd6ff8e1dc': 15,
 'f67639ff4e': 15,
 '712623a296': 15,
 '14b54c49a0': 15,
 'e954353c09': 15,
 '783e937963': 15,
 'fea5baa801': 15,
 'aa240ea28c': 15,
 '6d8a22e45f': 15,
 '9488111db3': 15,
 '92cd1de3e5': 15,
 '1bf567e5b9': 15,
 '9eb58dfb61': 15,
 '6142710565': 15,
 'c7668ea522': 15,
 '310c1b09be': 15,
 '63a9b9aad3': 15,
 'a68804a2d8': 15,
 '4c14663ab1': 15,
 'b18aed4da5': 15,
 '802cfff017': 15,
 'aa59136517': 15,
 'bd4d0502b1': 15,
 '93d4e938b2': 15,
 '92c5cd6cf2': 15,
 '9497eec925': 15,
 '3f4eb31867': 15,
 'af5aa857a0': 15,
 'db7b2f817a': 15,
 'b18c8190b7': 15,
 '50bedcdaf5': 15,
 '94bd7ade3e': 15,
 '11b3cc54de': 15,
 'ed945275c5': 15,
 '9f8b9253d7': 15,
 '4c510660e6': 15,
 '3ad69efc3f': 15,
 'f19bfa39d5': 15,
 '6924bdbc85': 15,
 '501bb6e5e0': 15,
 '0516bda58e': 15,
 '4624ce6dc7': 15,
 'cf6d9d1de3': 15,
 '75b1fe25f8': 15,
 '03bf653200': 15,
 '5eaebc4e49': 15,
 'b4979f700f': 15,
 'b895a5abcd': 15,
 '603f3c7bcc': 15,
 'c0147e6098': 15,
 'b4b7b6e1b0': 15,
 '46b71885c3': 15,
 '817fc7c7cc': 15,
 '2e1b47741c': 15,
 '6bb8fa8134': 15,
 '4cf596ec41': 15,
 '04a9eafa56': 15,
 '608cf06efa': 14,
 '62a1082e1a': 14,
 '34de5f3052': 14,
 '93c811ef37': 14,
 'ce895ca2a1': 14,
 '1d8a4c5d02': 14,
 'de448b8b41': 14,
 'a2dcf2d6d9': 14,
 '9a74644c03': 14,
 '89c7774d9e': 14,
 '0b0a99eec8': 14,
 'c89978ceab': 14,
 'b7ae11a49b': 14,
 'a4a14c8c3c': 14,
 'fbcf3c80b0': 14,
 'c1a3bd2886': 14,
 'a7059bd9f1': 14,
 'e4e32c73c0': 14,
 '4fef5d830a': 14,
 'af972ddeef': 14,
 'bdad76d031': 14,
 '49bd7014de': 14,
 '004e1c81be': 14,
 'b6ec2532ed': 14,
 '86d3f3d8dd': 14,
 '5646271758': 14,
 '3e40087642': 14,
 '720c83fc2b': 14,
 '6ce4c2f39e': 14,
 '2dea1606f4': 14,
 'a19362b12c': 14,
 '00e96a61f0': 14,
 '3bdbd1cc4c': 14,
 '99205bdd35': 14,
 'dfc0cee8a2': 14,
 '6471f3f189': 14,
 'dbbf50ed82': 14,
 '7d1926a53b': 14,
 '1249d9c951': 14,
 'fe8b236ffb': 14,
 '8191559f62': 14,
 'edc4ac80f9': 14,
 'd3ed3bc313': 14,
 '9122fbb8e1': 14,
 '003d5945d1': 14,
 'ffc049a7d6': 14,
 '93d46d8acd': 14,
 'b319abb119': 14,
 'b3ff33e9c7': 14,
 '73a1d839bb': 14,
 '99fcf281fd': 14,
 '12bcc3a747': 14,
 '865f75a3f0': 14,
 'bc35f709d9': 14,
 '5d7555e6f2': 14,
 '4b3f975aa0': 14,
 '32bdb2ba8d': 14,
 '1c7c5a25e3': 14,
 '029269fe93': 14,
 '0c374fc717': 14,
 '82a94fdc02': 14,
 'd265c7b5f5': 14,
 '7fa8507b90': 14,
 '1b1d2580ce': 14,
 'e4e3fd3d58': 14,
 'd30f4eed27': 14,
 '28e2ce7fa7': 14,
 '96bba73f17': 14,
 '1ae0d93d86': 14,
 '2ecc88b700': 14,
 '4f37131518': 14,
 'c6128bb13a': 14,
 '6707c280d8': 14,
 '1546c8264f': 14,
 '97aed45f5d': 14,
 '71e68317a8': 14,
 'c6b41c3f1b': 14,
 'a6e81cc1d6': 14,
 '75ce243ffb': 14,
 'c5afc5d951': 14,
 '3a47bdcf72': 14,
 '6011eeaa84': 14,
 'daacd4329c': 14,
 'be79650feb': 14,
 'ee0354f346': 14,
 'e23dbd96f1': 14,
 '4fd4248db3': 14,
 '9712b1fde8': 14,
 'ce08d7f5a0': 14,
 'e89319292c': 14,
 '2b7752eed3': 14,
 '21ef41b855': 14,
 '2a3353cc36': 14,
 '8f6d8ff015': 14,
 '7f779a5224': 14,
 '2173605efc': 14,
 '9f6e9552e7': 14,
 '4ee6791de5': 14,
 '3163a78b6e': 14,
 '59fc4b1123': 14,
 '8b7cfc06a8': 14,
 'db8fefe994': 14,
 '883e223d74': 14,
 'ab79804073': 14,
 'aa79aa2cb7': 14,
 '178a0c4a52': 14,
 '5668e8e633': 14,
 'f12b807354': 14,
 'df3cf7f895': 14,
 'b8f8b7ede7': 14,
 'b122aa638d': 14,
 '024b0f8e96': 14,
 '0735b53fd7': 14,
 '8c5f41e9f0': 14,
 'f4ca1ec091': 14,
 '539af9a339': 14,
 '9ab5a9872a': 14,
 'e1155ef58d': 14,
 '630e6aa7f9': 14,
 'f3c7405f83': 14,
 '3ff9b7a157': 14,
 '7ff26b1191': 14,
 'c4fc581f79': 14,
 ...}

In [24]:
#dataset.groupby('user_id_hashed')['transfer_amount_gbp'].transform('sum')
dataset['sum_of_this_user']=dataset.groupby(['user_id_hashed'])['transfer_amount_gbp'].transform('sum')
top_10users_byTotalTransferSum=dataset.drop_duplicates(subset='user_id_hashed').nlargest(10, 'sum_of_this_user')
top_10users_byTotalTransferSum[['user_id_hashed','sum_of_this_user']]

      user_id_hashed  sum_of_this_user
22371     d71d16e6b5        18849552.0
20501     3ca94ac42b        13432664.0
4500      c98ade9edb        10340256.0
19227     4b2f28326e         9896016.0
38317     3d7cc6fe80         6529974.0
23137     610b87481a         4366814.0
38363     e065dca6e7         4313022.0
11490     3ee46219a3         3994339.0
67202     9701e297dc         3583548.0
50963     37900a9e60         3568898.0

In [ ]:
dataset['deposit_receive_time_check'] =  dataset['deposit_receive_time']
dataset['deposit_receive_time_check'] = dataset['deposit_receive_time_check'].replace(np.nan, "Nan")
dataset.loc[(dataset.deposit_receive_time_check != "Nan"),'deposit_receive_time_check']="Existing"
dataset['deposit_receive_time_check'] = dataset['deposit_receive_time_check'].astype('category')

dataset['transfer_amount_gbp_check'] =  dataset['transfer_amount_gbp']
dataset['transfer_amount_gbp_check'] = dataset['transfer_amount_gbp_check'].replace(np.nan, "Nan")
dataset.loc[(dataset.transfer_amount_gbp_check != "Nan"),'transfer_amount_gbp_check']="Existing"
dataset['transfer_amount_gbp_check'] = dataset['transfer_amount_gbp_check'].astype('category')

In [ ]:
def plot_1(dataset,col_name,x_size=9,y_size=6):
    import matplotlib.pyplot as plt
    %matplotlib inline     
        # allows to output plots in the notebook
    plt.style.use("ggplot")     # Set the default style
    plt.rcParams['figure.dpi'] = 250
    plt.rcParams['figure.figsize'] = (x_size,y_size)
    table=pd.crosstab(dataset[col_name],dataset.transfer_amount_gbp_check)
    table.div(table.sum(1).astype(float), axis=0).plot(kind='bar', stacked=True,color = ['g','red'])
    plt.title('Existence of Transfer Amount GBP for '+ col_name )
    plt.xlabel(col_name)
    plt.ylabel('Ratio of Existing vs. Non Existing ')
    plt.savefig('/home/abdul/Desktop/TransferwiseDataScience/figs/Existence_of_Transfer_Amount_GBP_for_'+ col_name , dpi='figure',bbox_inches = 'tight')

def plot_2(dataset,col_name,x_size=9,y_size=6):
    import matplotlib.pyplot as plt
    %matplotlib inline     
        # allows to output plots in the notebook
    plt.style.use("ggplot")     # Set the default style
    plt.rcParams['figure.dpi'] = 250
    plt.rcParams['figure.figsize'] = (x_size,y_size)
    table=pd.crosstab(dataset[col_name],dataset.deposit_receive_time_check)
    table.div(table.sum(1).astype(float), axis=0).plot(kind='bar', stacked=True,color = ['g','red'])
    plt.title('Existence of Deposit Received Time for '+ col_name )
    plt.xlabel(col_name)
    plt.ylabel('Ratio of Existing vs. Non Existing ')
    plt.savefig('/home/abdul/Desktop/TransferwiseDataScience/figs/Existence_of_Deposit_Received_Time_for_'+ col_name, dpi='figure',bbox_inches = 'tight')

In [ ]:
plot_2(dataset,"profile_type")

In [ ]:
dataset[(dataset.profile_type == 'Business') &\
        (dataset.deposit_receive_time_check=="Nan")].describe(include=['category'])

**Records with the Profile Type category of business contain a high ratio of missing deposit received time values. Around 80% of 'Business' profile type records are missing deposit received time values. However, most of these have Payment Status as 'Cancelled'.**

In [ ]:
plot_2(dataset,"user_language")

In [ ]:
dataset[(dataset.user_language == 'JA') & (dataset.deposit_receive_time_check=="Nan")].shape[0]

**Records with the User Language category of 'JA' are entirely missing deposit received time values. This is not the case with any other user language category.However number of records with missing values with missing deposit received time values for 'JA' language category are only 2 out of 72k. Hence, missing values cannot be attributed to the user language being 'JA'**

In [ ]:
plot_2(dataset,"user_country_code",x_size=22,y_size=12)

Almost all the records(>96%) with 'Cancelled' payment status are missing deposit received time values while none of the records with 'Transferred' payment status are missing deposit recived time values. Hence the mising of Dposit Received time values can be logically attributed to the  'Cancelled' payment status.

In [ ]:
plot_2(dataset,"age_years_bucket")

In [ ]:
plot_2(dataset,"payment_status")

## -All the missing values of Deposit times belong to the "Cancelled" category of payment status, we cannot impute the deposit recevied time values with any value since the value is supposed to be absent intrinsically.## 

## -Since the transfer never completed and imputing with any other value of will necessarrily introudce false information in our dataset.##

In [ ]:
dataset[(dataset.deposit_receive_time_check=="Nan") 
       & (dataset.payment_status == 'Cancelled')].describe(include='all')

In [ ]:
plot_2(dataset,"payment_reference_classification")

In [ ]:
plot_2(dataset,"source_currency_code")

In [ ]:
plot_2(dataset,"target_currency_code")

In [ ]:
plot_1(dataset,"profile_type")

In [ ]:
plot_1(dataset,"user_language")

In [ ]:
plot_1(dataset,"age_years_bucket")

In [ ]:
dataset[(dataset.age_years_bucket == "2. 18-25") & \
        (dataset.transfer_amount_gbp_check=="Nan")].describe(include='all')

**All the transfer amount values are attributed to the age bucket of "2. 18-25". Further more as can be seen from the above results there is only 1 unique value of country code in this subset of age bucket and missing transfer amount values. This country code value is 134. Hence we can successfult conclude users with country code of 134 and age bucket of "2. 18-25" are the source of this problem**

In [ ]:
plot_1(dataset,"user_country_code",x_size=22)

In [ ]:
plot_1(dataset,"payment_status")

In [ ]:
plot_1(dataset,"payment_reference_classification")

In [ ]:
plot_1(dataset,"source_currency_code")

In [ ]:
plot_1(dataset,"target_currency_code")

# Check for possible outliers outside 1.5 IQR

In [ ]:
numeric_dataset = dataset.select_dtypes(include=['int','float'])
numeric_dataset

**It seems like only features that can suitably be assessed for being outside the IQR are 'transfer_amount_gbp'.**

In [ ]:
datacolumn=numeric_dataset.transfer_amount_gbp
sorted(datacolumn)
Q1,Q3 = np.nanpercentile(datacolumn , [25,75])
IQR = Q3 - Q1
lower_range = Q1 - (1.5 * IQR)
upper_range = Q3 + (1.5 * IQR)
print(lower_range,upper_range)

In [ ]:
data_outside_IQR=numeric_dataset[(numeric_dataset.transfer_amount_gbp < lower_range) \
                                 | (numeric_dataset.transfer_amount_gbp > upper_range)]

In [ ]:
print("\n\nPercentage of Non-Missing values outside 1.5 IQR : ",\
      round(len(data_outside_IQR)/dataset['transfer_amount_gbp'].notnull().sum(),4)*100)

In [ ]:
data_outside_IQR=dataset[(dataset.transfer_amount_gbp < lower_range) | (dataset.transfer_amount_gbp > upper_range)]

In [ ]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
pd.options.display.max_columns = None

display(data_outside_IQR.describe(include=['category']))

**The data with values outside IQR covers most categories of other features. Hence, it is not advisable to remove the values that are outside IQR as by removeing them we may lose valuable information.**